<h2>Users</h2>
<ul>
  <% @users.each do |user| %>
    <li>
      <h3><%= user.name %></h3>
      <a href="/users/<%= user.id %>">
        <%= user.name %>'s info
      </a>
      <p>Number of posts: <%= user.posts_counter %></p>
    </li>
  <% end %>
</ul>
