<h1>Users</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <a href="/users/<%= user.id %>">
        <h2><%= user.name %></h2>
      </a>
      <p>Number of posts: <%= user.posts_counter %></p>
    </li>
  <% end %>
</ul>
